streamlit==1.26.0
opencv-python-headless==4.8.1.78
numpy==1.25.2         # latest stable that works with Py3.13
pandas==2.1.1
matplotlib==3.8.1
ultralytics==8.0.148
Pillow==9.5.0         # <10, compatible with Streamlit 1.26.0
